*{
    padding: 0;
    margin: 0;
    outline:0;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s linear;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

/* header */
.banner{
    background-image: url(image/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.banner::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
header{
    /* background-color: black; */
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 50px;
    font-weight: 800;
    color: white;
}
.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item li{
    padding: 50px 20px;
}
.menu-item li a{
    color: white;
    font-size: 18px;
    display: inline-block;
    text-transform: uppercase;
}
.menu-item li .active{
    color: #fb2274;
}
.menu-item li a:hover{
    color: #fb2274;
}
/* banner-text */
.banner-text {
    text-align: center;
}
.banner-text h1{
    font-size: 100px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.banner-text h1 p{
    color: #fb2274;
}
.banner-text .paragraph-text{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}
.icon{
    position: absolute;
    content: '';
    top:85%;
    left: 50%;
    width: 100%;
    color: white;
}
.icon a{
    color: white;
}

/* About */
.about{
    padding: 100px 0px;
    display: block;
}
.about-text{
    text-align: center;
} 
.about-text h2{
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.about-text p{
    font-size: 28px;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.89);
}
.button a{
    padding: 15px 50px;
    border: 2px solid #fb2274;
    display:inline-block;
    color: #fb2274;
    margin-top: 40px;
    transition: 0.3s linear;
}
.button a:hover{
    background-color: #fb2274;
    color: white;
}
/* services */
.services{
  text-align: center;
  margin-bottom: 100px;
}
.services h2{
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.services p{
    font-size: 34px;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.89);
    margin-bottom: 80px;
}
.image-area{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.app-text .img,
.web-text .img,
.test-text .img{
    width:33%;
}
.app-text .img img,
.web-text .img img,
.test-text .img img{
    height: 250px;
    margin: 15px;
}
.app-text span,
.web-text span,
.test-text span{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
}
/* Contact */
.contact-area{
    width:calc(100% / 50%);
    display: flex;
    margin-bottom: 100px;
}
.map{
    margin-top: 30px;
}
.contact-right{
    margin-left: 30px; 
    margin-top: 80px;
    text-align: center;
    margin:50px auto 0;
}
.contact-right h3{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 60px;
    text-transform: uppercase;
    color: #444444;
    margin-top: 30px;
}
.contact-right form input,
.button button{
    border: 1px solid #aaa;
    padding: 15px 250px;
    display: block;
    margin-left: 30px;
    width: 560px;
    height: 55px;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
::placeholder{
    color:gray;
    font-size: 20px;
}
.text-area textarea{
    width:560px;
    padding: 20px 30px;
    margin-left: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.button button{
    font-size: 24px;
    border: 1px solid #fb2274;
    color: #fb2274;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.button button:hover{
    background-color: #fb2274;
    color: white;
}